html{
    background-color: #e0e0e0;
}

body {
    padding: 0;
    display: flex;
}
canvas{
    box-sizing: border-box;
    background-color: #131313;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    margin: 1%;
}
#canvas{
    display: ;
}
#preview_canvas{
    background : transparent;
}
.tools{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: auto;
}
.tool{
    display: flex;
}